@using Mango.Web.Models.Dto
@model CartDto

<form method="post">
    <div class="container">
        <div class="card border mt-4 container">
            <div class="card-header bg-primary text-white ml-0 row ">
                <div class="col-6">
                    <h3 class="text-white"><i class="bi bi-cart"></i> &nbsp; Shopping Cart</h3>
                </div>
                <div class="col-6 text-end">
                    <a asp-action="Index" asp-controller="Home" class="btn btn-secondary mt-2 btn-sm">Continue Shopping</a>
                </div>
            </div>
            <div class="card-body">
            @if(Model.CartHeader != null)
            {
                <input type="hidden" asp-for="@Model.CartHeader.CartHeaderId"/>
                <input type="hidden" asp-for="@Model.CartHeader.UserId"/>
                <div class=" d-none d-lg-block">
                    <div class="row text-info">
                        <div class="col-lg-2">
                        </div>
                        <div class="col-lg-5">
                            Product Details
                        </div>
                        <div class="col-lg-2">
                            Price
                        </div>
                        <div class="col-lg-2">
                            Count
                        </div>
                        <div class="col-lg-1">
                        </div>
                    </div>
                </div>
                <hr />
                
                    @foreach(var item in Model.CartDetails)
                    {
                        <div class="row h-100">
                            <div class="col-4 col-md-2 text-center py-2">
                                <img src="@item.Product.ImageUrl?.ToString()" class="rounded" width="100%" />
                            </div>
                            <div class="col-8 col-md-5">
                                <div style="font-size:11px;">@item.Product.CategoryName</div>
                                <h5>@item.Product.Name</h5>                                
                            </div>
                            <div class="col-3 col-md-2 pt-md-4">
                                <span>@item.Product.Price </span>
                            </div>
                            <div class="col-3 col-md-2 pt-md-4">
                                <span>@item.Qty</span>
                            </div>
                            <div class="col-2 col-lg-1 p-0 pt-lg-4 text-center">
                                <a asp-action="RemoveCart" asp-route-cartDetailId="@item.CartDetailId" class="btn btn-sm btn-danger">
                                    <i class="bi bi-trash-fill"></i>
                                </a>
                            </div>
                        </div>
                    }

                    <hr />
                    <div class="row">
                        <div class="col-6">
                            @if (string.IsNullOrEmpty(Model.CartHeader.CouponCode))
                            {
                                <span>Coupon:</span>
                                <input asp-for="CartHeader.CouponCode" />
                                <button asp-action="ApplyCoupon" class="btn btn-sm btn-success"> Apply </button>
                            }
                            else
                            {
                                <span>Coupon:</span>
                                <input asp-for="CartHeader.CouponCode" disabled/>
                                <button asp-action="RemoveCoupon" class="btn btn-sm btn-success"> Remove </button>
                            }
                        </div>
                    <div class="col-6 text-end">
                        @if(Model.CartHeader.Discount > 0)
                        {
                            var totalBeforeDiscount = Model.CartHeader.CartTotal + Model.CartHeader.Discount;
                            
                            <span class="text-muted">
                                Total:
                                <del>@totalBeforeDiscount.ToString("C")</del><br />
                            </span>
                            <span class="text-success">
                                Order Discount: @Model.CartHeader.Discount.ToString("C")<br />
                            </span>                            
                        }
                        <span class="text-danger h5">  Order Total : @Model.CartHeader.CartTotal.ToString("C") <br /></span>
                        
                    </div>
                </div>            
            }
            else
            {
                <p class="lead text-center">
                 The cart is empty.
                </p>
            }
            </div>
            <div class="card-footer row">
                <div class="col-6 col-md-3 ">
                    <button asp-action="EmailCart" class="btn btn-outline-danger form-control">Email Cart</button>
                </div>
                <div class="col-6 col-md-3 offset-md-6">
                    <button type="submit" class="btn btn-success form-control">Checkout (Comming Soon!)</button>
                </div>
            </div>
        </div>
    </div>
</form>