@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<ProductDto>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<form>
    <div class="container row">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach (var item in Model)
            {
                <div class="col">
                    <div class="card h-100">
                        <div class="img-square-responsive">
                            <img src="@item.ImageUrl" class="card-img-top" />
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                @item.Name
                            </h5>
                            <div class="d-flex justify-content-between py-2">
                                <span class="text-danger" style="font-size:20px;">@item.Price.ToString("$#.00")</span>
                                <span class="badge bg-warning text-white p-2">@item.CategoryName</span>
                            </div>
                            <p class="card-text">@item.Description</p>
                            
                        </div>
                        <div class="card-footer">
                            <div class="col">
                                <a asp-action="ProductDetails" asp-route-productId="@item.ProductId" class="btn btn-success form-control">Details</a>
                            </div>
                        </div>
                    </div>

                </div>
            }
        </div>
    </div>
</form>
